


.title{
    margin-top: 03%;
    margin-left: 40%;
    font-size: 60px;
    margin-bottom: -20px;
}

.title1 .slogan{
    margin-left: 35%;
    font-style: italic;
    font-size: 25px;
 
}

.signup{
    color: white;
    background-color: #17289A;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin-top: 05%;
    margin-bottom: 35%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
   
}

.Register{
    margin-bottom: 20px;
    margin-top: 5%;
    margin-left: 40%;
    
}

.input_fields {
      margin-left: 27%;
}

.signup_button{
      margin-left: 40%;

}

.input_fields input{
    padding: 04px;
    margin: 3px;
    font-size: 20px;
    

}